@import url('https://monstersreels.online/pl/layout/21687/9/module-widget.css');

/* Контейнер */
.xdget-root {
  --color-white: #ffffff;
  --color-yellow: #FFDA00;
  --color-blue: #004FFF;
  --color-red: #E8635D;
  --color-green: #00FF57;

  position: relative;

  background: url(https://fs.getcourse.ru/fileservice/file/download/a/512999/sc/393/h/5eb404dc1ac38dbcf5788e3f586bd5be.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;

  display: grid;
  align-items: center;
  justify-content: center;

  min-height: calc(var(--vh, 1vh) * 100);
  padding-top: 40px;
  padding-bottom: 80px;
}


.xdget-common-container.row {
  padding: 0;
  margin: 0;
}

.xdget-block.xdget-col {
  padding: 0;
  margin: 0;
}

body .stream-table {
  padding: 0;
  margin: 0;
}

.gc-main-content .main-page-block .container {
  max-width: none;
  margin: 0;
}

.gc-main-content:not(.gc-user-admin) .xdget-root {
  position: absolute;
   
  top: 0;
  left: 0;
  right: 0;
  
  min-height: calc(var(--vh, 1vh) * 100);
}

/* Конец Контейнер */






/* Кнопки */
#xdget943516 .col-md-12 {
  position: static;
}


body .xdget-root .stream-table * {
  min-width: 0;
  padding: 0;
  margin: 0;
}

.stream-table tr {
  display: inline-block;
}

.stream-table tr a {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;

}


body .stream-table tr td:hover{
  background: none;
}

body .stream-table tr td:hover a:before{
  box-shadow: 0 0 13px 1px var(--color-yellow);
}


.stream-table tr a:before {
  content: '';
  position: relative;

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 25px;

  border-radius: 50%;

  background-size: cover;

  transition: 0.2s;

}



.stream-table .stream-title {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  
  color: var(--color-white);
}

.stream-table .stream-title  + div {
  max-width: 385px;

  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  
  color: var(--color-white);
}

tr:not([data-training-id="697759655"]) .stream-title + div {
  display: none;
}

tr[data-training-id="697759655"] .stream-title + div b{
  display: none;
}

tr[data-training-id="697759655"] .stream-title + div b{
  display: none;
}


tr[data-training-id="697759637"] a:before {
  background-image: url(https://fs.getcourse.ru/fileservice/file/download/a/512999/sc/242/h/420ab9b7eb2a893ddb8e851d3031e6e9.png)
}

tr[data-training-id="697759638"] a:before { 
  background-image: url(https://fs.getcourse.ru/fileservice/file/download/a/512999/sc/228/h/cdfb5b24497b2122ab1e741a5ff1638b.png)
}

tr[data-training-id="697759655"] a:before {
  background-image: url(https://fs.getcourse.ru/fileservice/file/download/a/512999/sc/332/h/cd9f0a0ff26e63bbaf90427ef01df507.png)
}


/* 
tr[data-training-id="697759637"] {
  top: 7.6%;
  left: 50%;

  transform: translate(calc(-50% - 240px), 0)
}

tr[data-training-id="697759638"] { 
  top: 7.6%;
  left: 50%;

  transform: translate(calc(-50% + 240px), 0)
}

tr[data-training-id="697759655"] {
  top: 62%;
  left: 50%;
  transform: translate(-50%, 0);
} */


.stream-table tbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  grid-column-gap: 250px;
  grid-row-gap: 400px;
}

tr[data-training-id="697759637"] {

}

tr[data-training-id="697759638"] { 

}

tr[data-training-id="697759655"] {
  grid-column: 1/3;
}


.noaccess-mode-show {
  pointer-events: none;
  opacity: 0.4;
}



/* Конец Кнопки */



/* Линии */

#line-1-2 {
  position: absolute;
  top: 299px;
  left: 50%;

  transform: translateX(-50%);

}


#line-3 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}




@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}


#start {
  position: absolute;
  top: 640px;
  left: 50%;
  transform: translateX(-113%)
}




#line-1-2-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);

  display: none;
}

#line-3-mob {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 220%);

}

#start-mob {
  position: absolute;

  top: 48%;
  left: 50%;

  transform: translateX(-120%);
  display: none;
}
/* Конец Линии */




@media screen and (max-width: 768px) { 
  .gc-user-logined {
    height: calc(var(--vh, 1vh) * 100 - 62px);
  }
  body .gc-main-content .xdget-root {
    background-image: url(https://fs.getcourse.ru/fileservice/file/download/a/512999/sc/74/h/fb417244cc9819e8c7176754084f98ab.jpg);

    min-height: calc(var(--vh, 1vh) * 100 - 62px) !important;
    padding: 0;
  }

  .stream-table tr a:before {
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
  }

  .stream-table .stream-title {
    font-size: 18px;
    line-height: 18px;
  }

  .stream-table .stream-title + div {
    font-size: 11px;
    line-height: 14px;

    max-width: 208px;
  }


  .stream-table tbody {
    grid-column-gap: 130px;
    grid-row-gap: 230px;

    transform: translateY(-10%);
  }

  #line-1-2,
  #line-3,
  #start {
    display: none;
  }

  #line-1-2-mob ,
  #line-3-mob,
  #start-mob {
    display: block;
  }

}


/* Изменения для Насти */
.gc-main-content:not(.gc-user-admin) tr[data-training-id="697759637"],
.gc-main-content:not(.gc-user-admin) tr[data-training-id="697759638"], 
.gc-main-content:not(.gc-user-admin) #line-1-2-mob,
.gc-main-content:not(.gc-user-admin) #line-3-mob,
.gc-main-content:not(.gc-user-admin) #line-1-2,
.gc-main-content:not(.gc-user-admin) #line-3 {
  display: none;
}

.gc-main-content:not(.gc-user-admin) #start {
  top: 50%;
  transform: translate(-113%, -50%);
}

.gc-main-content:not(.gc-user-admin) #start-mob {
  top: 50%;
  transform: translate(-128%, -95%);

}
