@import url('https://fs.getcourse.ru/fileservice/file/download/a/512999/sc/230/h/381a74876d2889f7ce1f8e8b9c62fae7.css');
@import url('https://fs.getcourse.ru/fileservice/file/download/a/512999/sc/95/h/c7c8020580cc5e710e450343e77c3d8f.css');


:root {
  --color-gray: #1A1D1F;
  --color-light-gray: #6F767E;
  --color-black: #111315;
  --color-white: #ffffff;
  --color-gray-white: #F4F4F4;
  --color-yellow: #EBFF00;

  --transition-default: 0.2s;
  --transition-open: 0.3s;

}




/* leftbar */
#leftbar {  
  position: fixed;
  top: 0;
  left: 0;

 
  height: 100%;

  font-family: 'Bebas Neue', sans-serif;

  z-index: 10000;

}

.leftbar__body {
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 50px;
  width: 90px;
  height: 100%;

  
  background-color: var(--color-gray);

  transition: var(--transition-open);

}



/* Кнопка свернуть */

.leftbar__rollup {
  /* padding-top: 10px; */
  justify-self: center;
  align-self: start;
  display: grid;
  grid-template-columns: 90px auto;
  grid-column-gap: 5px;
  align-items: center;

  cursor: pointer;
  transition: var(--transition-open);
}

.rollup__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg) scale(-1.5);


  transition: var(--transition-default);
}

.rollup__title {
  color: var(--color-light-gray);
  white-space: nowrap;
  font-size: 18px;
}

/* Конец Кнопка свернуть */







/* Меню */
.gc-account-user-menu {
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 0;
  width: 90px;

  list-style: none;

  overflow: auto;

  transition: var(--transition-default);

  
}

.gc-account-user-menu::-webkit-scrollbar {
  width: 0px; 
}

.menu__logo {
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  justify-items: center;
}


.menu__item.active,
.menu__item.active .item__title {
  color: var(--color-yellow);
}

.menu__item.active .item__header svg path {
  fill: var(--color-yellow);
}
/* Конец Меню */



/* Элемент меню профиль */
.item__profile {
  position: relative;

  padding-top: 20px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 90px 1fr;
}

.profile__avatar {
  justify-self: center;
  width: 50px;
  height: 50px;

  background-size: cover;

  border-radius: 50%;
  border: 2px solid var(--color-yellow);
}

.profile__info {
  max-width: calc(300px - 90px - 20px - 30px);
}

.profile__name {
  font-size: 22px;

  color: var(--color-white)
}

.profile__email {
  font-size: 16px;
}

.profile__name,
.profile__email {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  transition: var(--transition-default);
}


.item__profile,
.item__profile:hover,
.item__profile:visited,
.item__profile:active,
.item__profile:focus  {
  color: var(--color-light-gray);

  text-decoration: none;
}


.item__profile.selected .item__arrow {
  transform: translateY(-50%) rotate(270deg);
}

.item__profile:hover .item__arrow svg path
.item__profile.selected .item__arrow svg path {
  fill: var(--color-yellow);
}

.item__profile.selected {
  background: var(--color-black);
}

.item__profile.selected ~ .submenu {
  background: var(--color-black);
}

.item__profile:hover .profile__name,
.item__profile.selected .profile__name {
  color: var(--color-yellow);
}

.item__profile:hover .profile__email,
.item__profile.selected .profile__email {
  color: var(--color-white);
}



/* Конец Элемент меню профиль */




/* Элемент меню */
.item__header {
  position: relative;

  display: grid;
  grid-template-columns: 90px auto auto 1fr;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 13px;

  color: var(--color-light-gray);
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;

  transition: var(--transition-default)
  
}

.item__header:visited,
.item__header:link {
  color: var(--color-light-gray);
  text-decoration: none;
}
.item__header:hover {
  color: var(--color-yellow);

}


.item__header svg path {
  transition: var(--transition-open);
}

.item__header:hover svg path {
  fill: var(--color-yellow)
}

/* Открытое меню */
.item__header.selected {
  background: var(--color-black);
  color: var(--color-yellow);
}

.item__header.selected .item__arrow {
  transform: translateY(-50%) rotate(270deg);
}

.item__header.selected ~ .submenu {
  background: var(--color-black);
}



.item__header.selected svg path {
  fill: var(--color-yellow)
}
/* Конец Открытое меню */




.item__icon {
  justify-self: center;
}


.item__arrow {
  position: absolute;
  top: 50%;
  right: 30px;

  transition: var(--transition-open);
  opacity: 0;
  transform: translateY(-50%) rotate(90deg);
}



.item__notify {
  margin-top: -3px;
  margin-left: 5px;
  padding: 3px;

  background: var(--color-yellow);
  border-radius: 20px;

  color: var(--color-light-gray);
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 12px;
}
/* Конец Элемент меню */




/* Подменю */
.submenu {
  display: none;
}

.submenu__body {
  padding-top: 10px;
  padding-left: 70px;
  padding-bottom: 30px;
}

.submenu__item {
  margin-top: 5px;
}

.submenu__link {
  position: relative;

  font-size: 20px;
  color: var(--color-light-gray);
  text-decoration: none;
}


.submenu__link:visited,
.submenu__link:hover {
  color: var(--color-light-gray);
  text-decoration: none;
}

.submenu__link:after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 0%;
  height: 1px;

  background: var(--color-light-gray);
  transition: var(--transition-default);
}

.submenu__link:hover:after {
  width: 100%;
}


/* Конец Подменю */








/* Сворачивание меню */
body .gc-main-content.with-left-menu {
  transition: var(--transition-open);
}

body.full-menu .gc-main-content.with-left-menu {
  margin-left: 280px;
}

body.full-menu .leftbar__body {
  width: 300px;
}

body.full-menu .gc-account-user-menu {
  width: 300px;
}

body.full-menu .item__header {
  grid-template-columns: 70px auto auto 1fr;
}

body.full-menu .item__arrow {
  opacity: 1;
}


body.full-menu .leftbar__rollup {
  grid-template-columns: 25px auto;
}

body.full-menu .rollup__icon {
  transform: rotate(90deg);
}








/* Уведомления */
#leftbar .rollup__notifications {
  position: absolute;
  top: 0;
  left: 100%;

  display: none;
  height: 100%;
  width: 340px;

  font-family: 'Gilroy';
  font-size: 14px;



  background: var(--color-gray-white);
  overflow: auto;
}



.notifications__message {
  text-align: center;
  
  margin-top: 15px;

}




.notifications__loader {
  position: absolute;
  top: 10%;
  left: 50%;

  transform: translateX(-50%);
}

.notification,
.notification:hover,
.notification:focus,
.notification:visited {
  color: #afafaf;
  text-decoration: none;
}

.notifications__notification {
  position: relative;

  height: 75px;
  padding: 14px 14px 10px 20px;
  display: flex;


  font-size: 12px;


  border-bottom: 1px solid #e0e0e0;
}


.notification__content {
  margin-left: 10px;
}

.notification__mark-viewed {
  position: absolute;
  top: 6px;
  right: 10px;

  display: none;

  font-size: 20px;
  color: #afafaf;

}

.notification__mark-viewed:hover {
  color: var(--color-black);
}

.notification__date {
  position: absolute;
  bottom: 10px;
  right: 10px;

  font-size: 10px;

}

.notifications__notification.new {
  background: var(--color-white);
}

.notifications__notification.new .notification__content{
  color: var(--color-black);
}

.notifications__notification.new .notification__mark-viewed {
  display: block;
}



.notifications__notification.new:hover {
  background: #EFEFEF;
}

.notifications__notification:not(.new):hover .notification__content {
  color: var(--color-black);
}



.notifications__header {
  margin-top: 20px;
  padding: 0 14px 5px 20px;
  display: flex;
  justify-content: space-between;
}

.notifications__all {
  font-size: 14px;
  font-weight: bold;
}

.notifications__mark-viewed-all {
  font-size: 12px;
  cursor: pointer;
}

.notifications__footer {
  display: block;
  text-align: center;

  padding: 10px;
}
/* Конец Уведомления */




































/* Loader */
@keyframes ldio-hxdzskztq9b {
   0% { transform: translate(6px,40px) scale(0); }
  25% { transform: translate(6px,40px) scale(0); }
  50% { transform: translate(6px,40px) scale(1); }
  75% { transform: translate(40px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(1); }
}

@keyframes ldio-hxdzskztq9b-r {
   0% { transform: translate(74px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(0); }
}
@keyframes ldio-hxdzskztq9b-c {
   0% { background: #6f767e }
  25% { background: #6f767e }
  50% { background: #6f767e }
  75% { background: #6f767e }
 100% { background: #6f767e }
}
.ldio-hxdzskztq9b div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px,40px) scale(1);
  background: #6f767e;
  animation: ldio-hxdzskztq9b 1.2195121951219512s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-hxdzskztq9b div:nth-child(1) {
  background: #6f767e;
  transform: translate(74px,40px) scale(1);
  animation: ldio-hxdzskztq9b-r 0.3048780487804878s infinite cubic-bezier(0,0.5,0.5,1), ldio-hxdzskztq9b-c 1.2195121951219512s infinite step-start;
}.ldio-hxdzskztq9b div:nth-child(2) {
  animation-delay: -0.3048780487804878s;
  background: #6f767e;
}.ldio-hxdzskztq9b div:nth-child(3) {
  animation-delay: -0.6097560975609756s;
  background: #6f767e;
}.ldio-hxdzskztq9b div:nth-child(4) {
  animation-delay: -0.9146341463414633s;
  background: #6f767e;
}.ldio-hxdzskztq9b div:nth-child(5) {
  animation-delay: -1.2195121951219512s;
  background: #6f767e;
}
.loadingio-spinner-ellipsis-z5i1mb5w45c {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-hxdzskztq9b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-hxdzskztq9b div { box-sizing: content-box; }
/* generated by https://loading.io/ */
