@import url("https://monstersreels.online/pl/layout/21687/10/module-banner.css");
@import url("https://monstersreels.online/pl/layout/21687/5/module-header.css");

.gc-main-content {
  --color-muted: #ededed;
  --color-default-text: #9facb9;

  font-family: "Gilroy";
  color: var(--color-white);

  background: var(--color-black);
  background-image: url("https://fs.getcourse.ru/fileservice/file/download/a/512999/sc/187/h/9005cbd82386faa037a4170ebbc57e58.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.page-header,
.standard-logo,
.breadcrumb,
.lesson-header-block {
  display: none;
}

.gc-main-content > .container {
  padding: 60px 40px;
  margin: 0 !important;
  width: 100%;
}

.gc-main-content > .container.with-breadcrumbs {
  padding-top: 40px;
}

.gc-main-content #answers,
.gc-main-content h3,
.gc-main-content b,
.gc-main-content p,
.lesson-mission-wrapper {
  font-family: "Gilroy";

  color: var(--color-muted);
}

.gc-main-content a span,
.gc-main-content a {
  font-family: "Gilroy";

  color: var(--color-yellow) !important;
}

.gc-main-content h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;

  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-white);

  border-bottom: 1px solid var(--color-gray);
}

.container {
  padding: 0;
}

.gc-main-content .lesson-header-block.row-section {
  background: var(--color-gray) !important;
  border-color: var(--color-light-gray) !important;
}

.gc-main-content .page-header {
  border-color: var(--color-light-gray) !important;
}

.gc-main-content .standard-page-content .breadcrumb > li + li:before {
  color: var(--color-light-gray);
}

.gc-main-content .answer-form {
  background: none;
}

.gc-main-content .lesson-answer-comment {
  background: none;
  color: var(--color-white);
}

.gc-main-content .user-answer,
.gc-main-content .pseudo-link,
.gc-main-content .text-muted,
.gc-main-content .comment-time,
.gc-main-content .button,
.gc-main-content .like_users_list,
.gc-main-content .icon {
  color: var(--color-muted) !important;
  border-color: var(--color-muted) !important;
}

.gc-main-content label,
.gc-main-content .answer-date a,
.gc-main-content .btn-link {
  color: var(--color-muted) !important;
}

.gc-main-content #showMoreAnswers,
.gc-main-content .btn-send-answer:hover,
.gc-main-content .btn-send-answer,
.gc-main-content .btn-lg {
  color: var(--color-black);
  background: var(--color-yellow);
}
.gc-main-content .user-answer,
.gc-main-content .simple-answer,
.gc-main-content .answer-form {
  border-color: var(--color-light-gray) !important;
}
.gc-main-content .simple-answer,
.gc-main-content .user-answer .addfield {
  background: var(--color-gray) !important;
}

.gc-main-content .btn-send-answer,
.gc-main-content .btn-lg {
  font-weight: 600;
  font-family: "Gilroy";

  border: none;
  outline: none;
  border-radius: 4px;
}

.gc-main-content .btn-save-draft {
  padding: 10px 16px;
  height: 44px;
  border-radius: 4px;

  font-family: "Gilroy";
  color: var(--color-yellow) !important;

  border: 1px solid var(--color-yellow);

  text-decoration: none;
}

.lesson-mission-text {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.answer-form {
  padding-left: 0;
  padding-right: 0;
}

.answer-form > div:first-child {
  display: none;
}

.answer-form-inner {
  margin-left: 0;
}

.emoji-wysiwyg-editor,
#LessonAnswer_answer_text {
  padding: 20px;

  font-family: "Gilroy";
  color: var(--color-muted);

  background: var(--color-gray);
  border: none;
  border-radius: 4px;
}

.gc-main-content .lesson-mission-wrapper,
.gc-main-content .lesson-mission-text {
  border: none;
}

.lesson-mission-wrapper .emoji-container {
  margin-bottom: 10px;
}

.lesson-mission-wrapper .emoji-button {
  top: 20px;
  right: 20px;
}

.uploadifive-button {
  height: 44px !important;
  line-height: 44px !important;

  font-family: "Gilroy";
  text-transform: none;
  font-size: 16px;
  font-weight: 500;

  background: #24292e;
  border-radius: 4px;
  cursor: pointer;
}

.uploadifive-button:hover {
  background: #24292e;
}

.gc-main-content .uploadifive-queue {
  margin-top: 10px;
  margin-bottom: 5px;
}

.gc-main-content .uploadifive-queue-item {
  background-color: var(--color-gray);
  border: 0;
}

@media screen and (max-width: 768px) {
  .gc-main-content > .container {
    padding: 30px 20px;
  }
}
