.xdget-lessonList form {
  color: var(--color-white);
}


/* Уроки */
.lesson-list {
  padding: 0;
  margin: 0;

  background: none;
}

ul.lesson-list li {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  overflow: visible;
}



.lesson-list li a.user-state-bg {
  display: block;
  padding: 0;
  margin: 0;

  font-family: "Gilroy";

  border: 1px solid var(--color-extra-gray);
  border-radius: 10px;
  background: var(--color-gray);

  transition: var(--transition-default);
}

.lesson-list li a:visited {
  text-decoration: none;
}

.lesson-list li:hover a {
  border-color: var(--color-yellow);
  box-shadow: 0px 18px 44px rgba(235, 255, 0, 0.14);
}

.state-icon-block {
  display: none;
}

.lesson-list li a .info {
  border-left: none !important;
  background: none;
  margin: 0;
}

.lesson-list li a table {
  width: 100%;
}

.lesson-list li a .info .item-main-td {
  position: relative;
  padding: 20px;
}

.lesson-list li a .info .item-main-td .vmiddle {
  padding: 0;
  margin: 0;
}

.lesson-list li a .info .item-main-td .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: var(--color-white);
}

.lesson-list li a .info .item-main-td .description {
  margin-top: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: var(--color-light-gray);
}

.lesson-footer {
  margin-top: 40px;
  padding-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid var(--color-extra-gray);
}

.lesson-starts {
  display: flex;
  align-items: center;
}

.lesson-starts.empty {
  visibility: hidden;
}
.lesson-starts span {
  margin-left: 10px;

  font-weight: 600;
  font-size: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: var(--color-light-gray);
}


.task-status-answered,
.task-status-reached,
.task-status-has {
  display: none;
  align-items: center;
  margin-left: 20px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;

  /* yellow */

  color: #EBFF00;
}

.task-status-answered span,
.task-status-reached span,
.task-status-has span {
  white-space: nowrap;
  margin-left: 5px;
  padding-top: 2px;
}

.task-status-reached {
  color: var(--color-yellow);
}
.task-status-answered,
.task-status-has{
  color: var(--color-light-gray);
}

.user-state-answered .task-status-answered,
.user-state-accomplished .task-status-reached,
.user-state-has_mission .task-status-has {
  display: flex;
}


.lesson-list li.user-state-not_reached .info {
  background: none;
}

.lesson-list li.user-state-not_reached {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .lesson-list li a .info .item-main-td .title {
    font-size: 18px;
    line-height: 21px;
  }

  .lesson-list li a .info .item-main-td .description {
    font-size: 16px;
    line-height: 19px;
  }
}
